<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <title>file bed</title>
</head>
<body>
<div class="container">

    <b-input-group id="loginForm">
        <b-form-input size="sm" type="password" placeholder="token" v-model="token"></b-form-input>
        <b-button size="sm" variant="outline-primary" :disabled="logining" @click="login">login</b-button>
    </b-input-group>

    <br/>

    <form id="uploadForm">
        <b-input-group>
            <b-form-file size="sm" v-model="file"></b-form-file>
        </b-input-group>
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="sort" v-model="sort"></b-form-input>
            <b-button size="sm" variant="outline-primary" :disabled="fileUploading" @click="uploadFile">upload
            </b-button>
        </b-input-group>
        <br/>
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="url" v-model="url"></b-form-input>
        </b-input-group>
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="sort" v-model="sort"></b-form-input>
            <b-button size="sm" variant="outline-primary" :disabled="urlUploading" @click="uploadUrl">upload</b-button>
        </b-input-group>
        <br/>
        <b-input-group>
            <b-form-file size="sm" v-model="file"></b-form-file>
        </b-input-group>
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="filePath" v-model="filePath"></b-form-input>
            <b-button size="sm" variant="outline-primary" :disabled="filePathUploading" @click="uploadFileByFilePath">
                upload
            </b-button>
        </b-input-group>
        <b-table responsive small striped :busy="loading" :fields="fields" :items="fileInfos">
            <template v-slot:cell(name)="data">
                <a :target="data.item.isFile?'_blank':''" :href="data.item.isFile?data.item.url:'javascript:;'"
                   @click="openFile(data.index)">{{data.item.name}}</a>
            </template>
            <template v-slot:cell(url)="data">
                <b-form-input size="sm" type="text" placeholder="url" v-if="data.item.isFile"
                              :value="window.location.protocol+'//'+window.location.host+data.item.url"></b-form-input>
            </template>
            <template v-slot:cell(delete)="data">
                <b-button size="sm" variant="outline-danger" v-if="data.item.isFile" @click="deleteFile(data.index)">
                    delete
                </b-button>
            </template>

            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
        </b-table>
    </form>


    <form id="synForm">
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="pushSynHost" v-model="pushSynHost"></b-form-input>
            <b-form-input size="sm" type="password" placeholder="token" v-model="token"></b-form-input>
            <b-button size="sm" variant="outline-primary" :disabled="pushing" @click="pushSynFile">push syn</b-button>
        </b-input-group>
        <b-input-group>
            <b-form-input size="sm" type="text" placeholder="pullSynHost" v-model="pullSynHost"></b-form-input>
            <b-form-input size="sm" type="password" placeholder="token" v-model="token"></b-form-input>
            <b-button size="sm" variant="outline-primary" :disabled="pulling" @click="pullSynFile">pull syn</b-button>
        </b-input-group>
    </form>


    <div class="table-responsive" id="folderTable">
        <b-button-group>
            <b-button size="sm" variant="btn btn-outline-warning" :disabled="allCacheClearing" @click="clearAllCache">
                clear all cache
            </b-button>
        </b-button-group>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" v-for="(breadcrumb, index) in breadcrumbs"
                    @click="breadcrumbGo(index)"><a href="javascript:;">{{breadcrumb.name}}</a></li>
            </ol>
        </nav>

        <b-table responsive small striped :busy="loading" :fields="fields" :items="fileInfos">
            <template v-slot:cell(name)="data">
                <a :target="data.item.isFile?'_blank':''" :href="data.item.isFile?data.item.url:'javascript:;'"
                   @click="openFile(data.index)">{{data.item.name}}</a>
            </template>
            <template v-slot:cell(url)="data">
                <b-form-input size="sm" type="text" placeholder="url" v-if="data.item.isFile"
                              :value="window.location.protocol+'//'+window.location.host+data.item.url"></b-form-input>
            </template>
            <template v-slot:cell(delete)="data">
                <b-button size="sm" variant="outline-danger" v-if="data.item.isFile" @click="deleteFile(data.index)">
                    delete
                </b-button>
            </template>

            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
        </b-table>
    </div>

</div>
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.8.0/qs.min.js"></script>
<script src="//cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>

<script>
    window.onbeforeunload = (event) => 'maybe some data not save'

    var instance = axios.create({timeout: 60 * 60 * 1000});

    const loginVue = new Vue({
        el: '#loginForm',
        data: {
            token: null,
            logining: false,
        },
        methods: {
            login: function () {
                if (this.token == null || this.token == "") {
                    this.token = ""
                    window.alert('token is empty')
                    return
                }
                loginVue.logining = true
                instance.post("/login", Qs.stringify({token: this.token}))
                    .then(response => {
                        loginVue.logining = false
                        const result = response.data
                        window.alert(result.massage)
                        if (result.code == 1) {
                            this.token = null
                            folderVue.listFolderInfo()
                        }
                    })
                    .catch(error => {
                        loginVue.logining = false
                        window.alert("error: " + JSON.stringify(error))
                    })
            }
        }
    })

    const uploadFileVue = new Vue({
        el: '#uploadForm',
        data: {
            sort: "",
            url: null,
            filePath: null,
            file: null,
            fileInfos: [],
            fields: [
                {
                    key: 'name',
                    label: 'name',
                    sortable: true,
                },
                {
                    key: 'size',
                    label: 'size',
                    sortable: true,
                },
                {
                    key: 'url',
                    label: 'url',
                },
                {
                    key: 'delete',
                    label: 'delete',
                },
            ],
            loading: false,
            fileUploading: false,
            urlUploading: false,
            filePathUploading: false,
        },
        methods: {
            uploadFile: function () {
                if (this.sort == null) {
                    this.sort = ""
                }
                if (this.file == null) {
                    window.alert('file is empty')
                    return
                }
                const param = new FormData()
                param.append("sort", this.sort)
                param.append("file", this.file)
                uploadFileVue.fileUploading = true
                instance.post("/admin/uploadFile", param, {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        uploadFileVue.fileUploading = false
                        const result = response.data
                        window.alert(result.massage)
                        if (result.code == 1) {
                            this.sort = ""
                            this.file = null
                            for (let i = 0; i < result.data.length; i++) {
                                this.fileInfos.unshift(formatFileOrFolderInfo(result.data[i]))
                            }
                            folderVue.listFolderInfo()
                        }
                    })
                    .catch(error => {
                        uploadFileVue.fileUploading = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
            uploadUrl: function () {
                if (this.sort == null) {
                    this.sort = ""
                }
                if (this.file == null) {
                    window.alert('file is empty')
                    return
                }
                uploadFileVue.urlUploading = true
                instance.post("/admin/uploadUrl", Qs.stringify({sort: this.sort, url: this.url}))
                    .then(response => {
                        uploadFileVue.urlUploading = false
                        const result = response.data
                        window.alert(result.massage)
                        if (result.code == 1) {
                            this.sort = ""
                            this.url = null
                            for (let i = 0; i < result.data.length; i++) {
                                this.fileInfos.unshift(formatFileOrFolderInfo(result.data[i]))
                            }
                            folderVue.listFolderInfo()
                        }
                    })
                    .catch(error => {
                        uploadFileVue.urlUploading = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
            uploadFileByFilePath: function () {
                if (this.filePath == null || this.filePath == "") {
                    this.filePath = ""
                    window.alert('filePath is empty')
                    return
                }
                if (this.file == null) {
                    window.alert('file is empty')
                    return
                }
                const param = new FormData()
                param.append("filePath", this.filePath)
                param.append("file", this.file)
                uploadFileVue.filePathUploading = true
                instance.post("/admin/uploadFileByFilePath", param, {headers: {'Content-Type': 'multipart/form-data'}})
                    .then(response => {
                        uploadFileVue.filePathUploading = false
                        const result = response.data
                        window.alert(result.massage)
                        if (result.code == 1) {
                            this.sort = ""
                            this.file = null
                            for (let i = 0; i < result.data.length; i++) {
                                this.fileInfos.unshift(formatFileOrFolderInfo(result.data[i]))
                            }
                            folderVue.listFolderInfo()
                        }
                    })
                    .catch(error => {
                        uploadFileVue.filePathUploading = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
            deleteFile: function (index) {
                deleteFile(this.fileInfos, index)
            },
        }
    })

    const synVue = new Vue({
        el: '#synForm',
        data: {
            pushSynHost: "",
            pullSynHost: "",
            token: "",
            pushing: false,
            pulling: false,
        },
        methods: {
            pushSynFile: function () {
                if (this.pushSynHost == null || this.pushSynHost == "") {
                    this.pushSynHost = ""
                    window.alert('pushSynHost is empty')
                    return
                }
                if (this.token == null || this.token == "") {
                    this.token = ""
                    window.alert('token is empty')
                    return
                }
                this.pushing = true
                instance.post("/admin/pushSynFile", Qs.stringify({pushSynHost: this.pushSynHost, token: this.token}))
                    .then(response => {
                        synVue.pushing = false
                        const result = response.data
                        window.alert('push syn ' + (result.code == 1 ? 'success' : 'fail') +
                            '\nmassage: ' + result.massage +
                            '\nfail count: ' + result.data.failCount +
                            '\nerr: ' + JSON.stringify(result.data.err))
                    })
                    .catch(error => {
                        synVue.pushing = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
            pullSynFile: function () {
                if (this.pullSynHost == null || this.pullSynHost == "") {
                    this.pullSynHost = ""
                    window.alert('pullSynHost is empty')
                    return
                }
                if (this.token == null || this.token == "") {
                    this.token = ""
                    window.alert('token is empty')
                    return
                }
                this.pulling = true
                instance.post("/admin/pullSynFile", Qs.stringify({pullSynHost: this.pullSynHost, token: this.token}))
                    .then(response => {
                        synVue.pulling = false
                        const result = response.data
                        window.alert('pull syn ' + (result.code == 1 ? 'success' : 'fail') +
                            '\nmassage: ' + result.massage +
                            '\nfail count: ' + result.data.failCount +
                            '\nerr: ' + JSON.stringify(result.data.err))
                    })
                    .catch(error => {
                        synVue.pulling = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
        }
    })

    const folderVue = new Vue({
        el: '#folderTable',
        data: {
            currentPath: "",
            breadcrumbs: [
                {name: "root", path: ""},
            ],
            fileInfos: [],
            fields: [
                {
                    key: 'name',
                    label: 'name',
                    sortable: true,
                },
                {
                    key: 'size',
                    label: 'size',
                    sortable: true,
                },
                {
                    key: 'url',
                    label: 'url',
                },
                {
                    key: 'delete',
                    label: 'delete',
                },
            ],
            loading: false,
            allCacheClearing: false,
        },
        methods: {
            breadcrumbGo: function (index) {
                this.gotoFolder(this.breadcrumbs[index].path)
            },
            openFile: function (index) {
                var fileInfo = this.fileInfos[index]
                if (fileInfo.isFile) {
                    return
                }
                this.gotoFolder(fileInfo.path)
            },
            setBreadcrumb: function () {
                const paths = this.currentPath.split("/")
                this.breadcrumbs = [{name: "root", path: ""}]
                let fatherBreadcrumbIndex = 0
                for (let i = 0; i < paths.length; i++) {
                    if (paths[i] == null || paths[i] == "") {
                        continue
                    }
                    this.breadcrumbs.push({
                        name: paths[i],
                        path: this.breadcrumbs[fatherBreadcrumbIndex].path + "/" + paths[i]
                    })
                    fatherBreadcrumbIndex++
                }
            },
            listFolderInfo: function () {
                this.loading = true
                instance.get("/admin/listFolderInfo", {params: {folderPath: this.currentPath}})
                    .then(function (response) {
                        folderVue.loading = false
                        const result = response.data
                        if (result.code != 1) {
                            window.alert(result.massage)
                            return
                        }
                        if (result.data == null || result.data.length == 0) {
                            window.alert("this has not file or folder")
                            result.data = []
                        }
                        folderVue.fileInfos = result.data
                        folderVue.fileInfos.sort((info1, info2) => {
                            if (info1.isFile != info2.isFile) {
                                return !info1.isFile ? -1 : 1
                            }
                            return info1.path - info2.path
                        })
                        for (let i = 0; i < folderVue.fileInfos.length; i++) {
                            folderVue.fileInfos[i] = formatFileOrFolderInfo(folderVue.fileInfos[i])
                        }
                    })
                    .catch(error => {
                        folderVue.loading = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
            gotoFolder: function (path) {
                this.currentPath = path
                this.setBreadcrumb()
                this.listFolderInfo()
            },
            deleteFile: function (index) {
                deleteFile(this.fileInfos, index)
            },
            clearAllCache: function () {
                if (!window.confirm("sure clear all cache ?!?")) {
                    return
                }
                folderVue.allCacheClearing = true
                instance.post("/admin/clearAllCache", Qs.stringify({}))
                    .then(response => {
                        folderVue.allCacheClearing = false
                        const result = response.data
                        alert(result.massage)
                        if (result.code == 1) {
                            this.listFolderInfo()
                        }
                    })
                    .catch(error => {
                        folderVue.allCacheClearing = false
                        alert("error: " + JSON.stringify(error))
                    })
            },
        }
    })

    function deleteFile(fileInfos, index) {
        if (!fileInfos[index].isFile) {
            window.alert("not file")
            return
        }
        if (!window.confirm("sure delete file ?!?: " + fileInfos[index].path)) {
            return
        }
        instance.post("/admin/removeFile", Qs.stringify({filePath: fileInfos[index].path}))
            .then(response => {
                const result = response.data
                alert(result.massage)
                if (result.code == 1) {
                    fileInfos.splice(index, 1)
                }
            })
            .catch(error => alert("error: " + JSON.stringify(error)))
    }

    function formatFileOrFolderInfo(fileOrFolderInfo) {
        fileOrFolderInfo.size = formatFileSize(fileOrFolderInfo.fileSize)
        fileOrFolderInfo.url = encodeURI(fileOrFolderInfo.url)
        return fileOrFolderInfo
    }

    function formatFileSize(bytes) {
        if (bytes < 0) {
            return '非法大小: ' + bytes
        }
        if (bytes == 0) {
            return '0 B'
        }
        var s = ['B', 'KB', 'MB', 'GB', 'TB', 'PB'];
        var e = Math.floor(Math.log(bytes) / Math.log(1024));
        return (bytes / Math.pow(1024, Math.floor(e))).toFixed(2) + " " + s[e];
    }
</script>
</body>
</html>